

.cont-all{
    margin: 0 auto;
    display: flex;
    width: 1200px;
    justify-content:space-around;
}


.menu{
    width: 250px;
    font-size: 1.5rem;
    text-align: center;
  position: sticky;
  top: 0;
  align-self: flex-start;
  
  

}
.feed{
    width: 650px;
    
}
.trends{
    width: 300px;
    position: sticky;
  top: 0;
  align-self: flex-start;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  
}

input{
    
    
    border: none;
}
input:focus{
    -webkit-appearance: none;
    outline: none;
}
textarea{
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    resize:none;
}
textarea:focus{
    -webkit-appearance: none;
    outline: none;
}

.new-tweet{
    border: 1px solid rgb(243, 243, 243);
}

.tw-pfp-cont{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}

.tw-pfp{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}


.tw-input{
    margin-top: 26px;
    flex: 2;
    border: none;
    font-size: 1rem;
}

.info-cont{
    display: flex;

}

.tw-options-cont{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(243, 243, 243);
    padding: 10px;
}

.submit-tw{
    background-color:rgb(14, 147, 255) ;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    float: right;
}

.submit-tw:hover{
    background-color:rgb(13, 122, 212) ;
}




.menu-option{
    margin-bottom: 15px;
    display: flex;
    justify-content: space around;
    font-size: 1.4rem;
    color: rgb(41, 41, 41);
}

.symbol{
    margin-left: 20px;
    
}


li{
    margin-right:13px;
}

.react-icons{
    margin-right: 15px;
}

.hover-wrap{
    transition: 0.3s;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}
.hover-wrap:hover{
    background: rgb(236, 236, 236);
}




@media screen and (max-width: 1200px) {
    .menu{
        width: 50px;
        
    }
    .cont-all{
        width:1000px ;
    }
    ul{
        margin: 0;
        padding: 0
    }
    .react-icons{
        margin:15px;
        margin-right: 0px;
    }
    .hover-wrap{
       
        padding: 0px;
       
    
    }
    .tw-pfp-cont{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        margin: 10px;
    }

}

@media screen and (max-width: 1000px) {
  .trends{
      display: none;
  }
  .cont-all{
      width: 700px;
  }
  
}

@media screen and (max-width: 700px) {
    .cont-all{
        width: 100%;
    }
   .feed{
       max-width: 650px;
   }
   
  }


.absolute-div{
    position: absolute;
}
