.tw-pfp-cont2{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 175px;
    margin-left: 20px;
}

.tw-pfp2{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cover-pic-cont{
    overflow: hidden;
}

.cover-pic{
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.profile-info2{
    font-size: 1.3rem;
    margin-top: 60px;
    font-weight: 1000;
}
.profile-info1{
    color: rgb(97, 97, 97);
    font-size: 0.9rem;
}

.edit-profile{
    float: right;
    border-radius: 50px;
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.edit-profile:hover{
    background-color: rgb(216, 216, 216);
}




.bio{
    margin-top: 20px;
    font-size: 0.9rem;
    word-break: break-all;
}

.profile{
    padding: 10px;
}

.follow-stat{
    margin-right: 10px;
    display: flex;
}

.follower-count{
    font-weight: 1000;
    margin-right: 5px;
    color: black;
}

.follow-stats{
    color: rgb(97, 97, 97);
    display: flex;
    font-size: 0.9rem;
    margin-top: 15px;
}